@charset "UTF-8";

* {
    font-family: "游ゴシック";
}

body {
    background-color: #ECE3CE;
}

header {
    padding: 10px 0 5px;
    background-color: antiquewhite;
}

h1{
    color: #3A4D39;
    padding: 0 30px;
}

.wrap {
    margin: 0 auto;
    padding: 30px;
    max-width: 1400px;
    background-color: #ECE3CE;
}

.wrap_register {
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 500px;
}

.wrap_register table {
    margin: 0 auto;
    width: 100%;
    background-color: antiquewhite;
    border-spacing: 8px;
    padding-bottom: 30px;
     border-collapse: collapse;
}

.wrap_register thead {
    background-color: #739072;
}

.wrap_register tbody th,
.wrap_register tbody td{
	border: 1px #B0A695 solid;
}

.wrap_register tbody th {
    text-align: left;
    padding: 5px;
    width: 15%;
    white-space: nowrap;
}

.wrap_register tbody td {
    text-align: left;
    padding: 5px;
}

.wrap_register td input {
    width: 90%;
    height: 25px;
    box-sizing: border-box;
}


.wrap_register td select {
    width: 90%;
    height: 25px;
}

.wrap_btn {
    padding-top: 5px;
    padding-left: 5px;
}

#button {
    background-color: #B0A695;
    border: none;
    width: 85px;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    margin: 0 3px;
}

#button:hover{
    background-color: rgba(214, 174, 144, 0.886);
}

.back {
    text-align: left;
    height: 30px;
    width: 80px;
}

img {
	height: 200px;
}

.a_back {
	text-decoration: none;
	color: black;
}
.a_back:hover {
	border: solid 2px rgba(214, 174, 144, 0.886);
	border-radius: 3px
}

.a_back::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/KensyuJsp/img/前に戻るアイコン6.png);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	padding-bottom: 3px;
}